@model Infozdrav.Web.Models.Trbovlje.SupplierViewModel

@{
    ViewBag.Title = "Add supplier";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<form asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="Name">Supplier name</label>
        <input asp-for="Name" type="text"
               data-val-required="The Supplier name field is required."
               class="form-control" id="name" placeholder="Enter supplier name">
        <span class="form-text text-danger text-muted" asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address">Supplier address</label>
        <input asp-for="Address" type="text"
               data-val-required="The Supplier address field is required."
               class="form-control" id="address" placeholder="Enter supplier address">
        <span class="form-text text-danger text-muted" asp-validation-for="Address"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email">Supplier email</label>
        <input asp-for="Email" type="text"
               data-val-email="The Supplier email field is not a valid email address."
               data-val-required="The Supplier email field is required."
               class="form-control" id="email" placeholder="Enter supplier email">
        <span class="form-text text-danger text-muted" asp-validation-for="Email"></span>
    </div>
    <div class="form-group">
        <label asp-for="Phone">Supplier phone</label>
        <input asp-for="Phone" type="text"
               data-val-required="The Supplier phone field is required."
               class="form-control" id="phone" placeholder="Enter supplier phone">
        <span class="form-text text-danger text-muted" asp-validation-for="Phone"></span>
    </div>
    <button type="submit" class="btn btn-primary">Shrani</button>
</form>
