@model Infozdrav.Web.Models.Trbovlje.SupplierViewModel

@{
    ViewBag.Title = "Suppliers";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<form asp-action="Supplier" method="post">
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
        <label asp-for="Name">Supplier name</label>
        <input asp-for="Name" type="text"
               data-val-required="The supplier name field is required."
               class="form-control" id="name" placeholder="Enter supplier name">
        <span class="form-text text-danger text-muted" asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
        <label asp-for="Address">Supplier address</label>
        <input asp-for="Address" type="text"
               data-val-required="The supplier address field is required."
               class="form-control" id="address" placeholder="Enter supplier address">
        <span class="form-text text-danger text-muted" asp-validation-for="Address"></span>
    </div>
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
        <label asp-for="Contact">Supplier contact</label>
        <input asp-for="Contact" type="text"
               data-val-required="The supplier contact field is required."
               class="form-control" id="contact" placeholder="Enter supplier contact">
        <span class="form-text text-danger text-muted" asp-validation-for="Contact"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
