@using Infozdrav.Web.Data
@model Infozdrav.Web.Models.Trbovlje.OrderCatalogArticleViewModel

@{
    ViewBag.Title = "Confirm";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<h3>Are you sure you want to order: </h3>

<form asp-action="Confirm" method="post">
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
        <label asp-for="CatalogArticleId">Article</label>
        <input asp-for="CatalogArticleId" type="text" class="form-control" id="name" disabled>
    </div>
    <button class="btn btn-primary">PDF (to-do)</button>
    <button type="submit" class="btn btn-primary">Delete</button>
    <a href="@Url.Action("OrderCatalogArticle")"
       class="btn btn-primary">Cancel</a>
</form>
