@model Infozdrav.Web.Models.Trbovlje.OrderCatalogArticleFullViewModel

@{
    ViewBag.Title = "Odstrani naročilo";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<h3>Ali ste prepričani, da želite odstraniti naročilo: </h3>

<form asp-action="Remove" method="post">
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
        <label asp-for="CatalogArticle.Name">Naročilo</label>
        <input asp-for="CatalogArticle.Name" type="text" class="form-control" id="name" disabled>
    </div>
    <button type="submit" class="btn btn-primary">Odstrani</button>
    <a href="@Url.Action("Index")"
       class="btn btn-primary">Prekliči</a>
</form>
