@model List<Infozdrav.Web.Models.Trbovlje.OrderCatalogArticleTableViewModel>

@{
    Layout = "_Layout";

    string dateFormat = "short";
}

<h2>@ViewBag.Title</h2>

<script id="actions" type="text/x-template">
    <a href="@Url.Action((string)ViewBag.Action)/${Id}"
       class="btn btn-primary">@ViewBag.ActionName</a>
</script>

<ejs-grid id="grid" dataSource="@Model" allowPaging="true" allowResizing="true" allowGrouping="true" allowFiltering="true" allowSorting="true" allowTextWrap="true" showColumnMenu="true" dataBound="dataBound">
    <e-grid-columns>
        <e-grid-column field="Id"></e-grid-column>
        <e-grid-column field="UrgencyDegree" headerText="Stopnja nujnosti" textAlign="Right"></e-grid-column>
        <e-grid-column field="CatalogArticle.Name" headerText="Artikel" minWidth="100"></e-grid-column>
        <e-grid-column field="Quantity" headerText="Količina" textAlign="Right" minwidth="100"></e-grid-column>
        <e-grid-column field="CatalogArticle.Price" headerText="Cena/enoto" textAlign="Right" minwidth="100"></e-grid-column>
        <e-grid-column field="Note" headerText="Opomba" textAlign="Right" minwidth="120"></e-grid-column>
    @*<e-grid-column field="TotalPrice" headerText="Cena" textAlign="Right" minwidth="100"></e-grid-column>*@
        <e-grid-column headerText="Potrditev" template="#confirm"></e-grid-column>
        <e-grid-column headerText="Akcija" template="#actions"></e-grid-column>
    </e-grid-columns>
</ejs-grid>

<script>
    function dataBound(args) {
        this.autoFitColumns();
    }
</script>
