@model Infozdrav.Web.Models.Trbovlje.LaboratoryViewModel

@{
    ViewBag.Title = "Laboratoriji";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<form asp-action="Laboratory" method="post">
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
        <label asp-for="Name">Naziv laboratorija</label>
        <input asp-for="Name" type="text"
               data-val-required="Potrebno je vnesti naziv laboratorija."
               class="form-control" id="name" placeholder="Vnesi naziv laboratorija">
        <span class="form-text text-danger text-muted" asp-validation-for="Name"></span>
    </div>
    <button type="submit" class="btn btn-primary">Shrani</button>
    <a href="@Url.Action("Index")"
       class="btn btn-primary">Prekliči</a>
</form>
