@model List<Infozdrav.Web.Models.Trbovlje.ManufacturerViewModel>

@{
    ViewBag.Title = "Proizvajalci";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<a href="@Url.Action("Add")"
   class="btn btn-primary">Dodaj proizvajalca</a>
<br/>

<script id="actions" type="text/x-template">
    <a href="@Url.Action("Manufacturer")/${Id}"
       class="btn btn-primary">Uredi</a>
    <a href="@Url.Action("Remove")/${Id}"
       class="btn btn-primary">Odstrani</a>
</script>

<ejs-grid id="grid" dataSource=@ViewBag.DataSource allowPaging="true">
    <e-grid-columns>
        <e-grid-column field="IdCode" headerText="Šifra" textAlign="Right" width="120"></e-grid-column>
        <e-grid-column field="Name" headerText="Ime" textAlign="Right" width="120"></e-grid-column>
        <e-grid-column field="Address" headerText="Naslov" textAlign="Right" width="120"></e-grid-column>
        <e-grid-column field="Email" headerText="E-pošta" textAlign="Right" width="150"></e-grid-column>
        <e-grid-column field="Phone" headerText="Telefonska številka" textAlign="Right" width="120"></e-grid-column>
        <e-grid-column field="Id" textAlign="Right" headerText="Actions" template="#actions" width="150"></e-grid-column>
    </e-grid-columns>
</ejs-grid>