@model Infozdrav.Web.Models.Trbovlje.ManufacturerViewModel

@{
    ViewBag.Title = "Proizvajalci";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<form asp-action="Manufacturer" method="post">
    <div class="form-group">
        <label asp-for="IdCode">Šifra proizvajalca</label>
        <input asp-for="IdCode" type="text"
               class="form-control" id="name" placeholder="Vnesi šifro proizvajalca">
        <span class="form-text text-danger text-muted" asp-validation-for="IdCode"></span>
    </div>
    <div class="form-group">
        <label asp-for="Name">Naziv proizvajalca</label>
        <input asp-for="Name" type="text"
               data-val-required="Potrebno je vnesti naziv proizvajalca."
               class="form-control" id="name" placeholder="Vnesi naziv proizvajalca">
        <span class="form-text text-danger text-muted" asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address">Naslov</label>
        <input asp-for="Address" type="text"
               data-val-required="Potrebno je vnesti naslov proizvajalca."
               class="form-control" id="address" placeholder="Vnesi naslov proizvajalca">
        <span class="form-text text-danger text-muted" asp-validation-for="Address"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email">E-poštni naslov</label>
        <input asp-for="Email" type="text"
               data-val-email="E-poštni naslov ni veljaven."
               data-val-required="Potrebno je vnesti e-poštni naslov proizvajalca."
               class="form-control" id="email" placeholder="Vnesi e-poštni naslov proizvajalca">
        <span class="form-text text-danger text-muted" asp-validation-for="Email"></span>
    </div>
    <div class="form-group">
        <label asp-for="Phone">Telefonska številka</label>
        <input asp-for="Phone" type="text"
               data-val-required="Potrebno je vnesti telefonsko številko proizvajalca."
               class="form-control" id="phone" placeholder="Vnesi telefonsko številko proizvajalca">
        <span class="form-text text-danger text-muted" asp-validation-for="Phone"></span>
    </div>
    <button type="submit" class="btn btn-primary">Shrani</button>
    <a href="@Url.Action("Index")"
       class="btn btn-primary">Prekliči</a>
</form>
