@using Infozdrav.Web.Data.Manage
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager
@{
    Layout = "_Blank";
}
<div class="wrapper">

    <nav id="sidebar">
        @*<ul id="select-company">
            <li>Labena</li>
            <li>Trbovlje</li>
        </ul>*@
        <!-- Sidebar Header -->
        <div class="sidebar-header">
        </div>

        <div class="sidebar-user">
            @{
                try
                {
                    var u = await UserManager.GetUserAsync(User);
                    @u.FirstName[0]@u.LastName[0]
                }
                catch (Exception e)
                {
                }
            }
        </div>

        <!-- Sidebar Links -->
        <ul class="list-unstyled components">
            @*
                @if (true) // Trbovlje
                {

                    <a href="@Url.Action("", "")" class="btn btn-primary btn-block btn-lg"></a>
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li>
                        <!-- Link with dropdown items -->
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li><a href="#">Page</a></li>
                            <li><a href="#">Page</a></li>
                            <li><a href="#">Page</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Portfolio</a></li>
                }
            *@
            @{
                await Html.RenderPartialAsync("TrbovljeMenu");
            }

            <li>&nbsp;</li>
            @if (User.IsInRole(Roles.Administrator))
            {
                <li><a asp-controller="Users" asp-action="Index">Users</a></li>
            }
            <li><a asp-controller="Auth" asp-action="Logout">Logout</a></li>
        </ul>
    </nav>
    <div class="w-100">
        <button type="button" id="sidebarCollapse" class="hidden visible-xs">
            <i class="glyphicon glyphicon-align-left"></i>
            Menu
        </button>

        <div id="content">

            <div>
                @RenderBody()
            </div>
        </div>
    </div>
</div>
