@using Infozdrav.Web.Data.Manage
@{
    Layout = "_Blank";
}
<div class="wrapper">

    <nav id="sidebar">
        <!-- Sidebar Header -->
        <div class="sidebar-header">
        </div>

        <!-- Sidebar Links -->
        <ul class="list-unstyled components">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li>
                <!-- Link with dropdown items -->
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li><a href="#">Page</a></li>
                    <li><a href="#">Page</a></li>
                    <li><a href="#">Page</a></li>
                </ul>
            <li><a href="#">Portfolio</a></li>
            <li>
                <a href="#articleSubmenu" data-toggle="collapse" aria-expanded="false">Artikel</a>
                <ul class="collapse list-unstyled" id="articleSubmenu">
                    <li><a asp-controller="CatalogArticle" asp-action="Index">-Naročilo artikla</a></li>
                    <li><a asp-controller="Article" asp-action="Reception">Sprejem artikla</a></li>
                    <li><a asp-controller="Article" asp-action="UseArticleTable">Uporaba artiklov</a></li>
                    <li><a asp-controller="Article" asp-action="WriteOffTable">Odpis artikla</a></li>
                    <li><a asp-controller="Article" asp-action="LendGiveTable">Odprema artikla</a></li>
                    <li><a asp-controller="Article" asp-action="LendReciveTable">Re-odprema artikla</a></li>
                    <li><a asp-controller="Buffer" asp-action="Index">Delanje pufra</a></li>
                    <li><a asp-controller="Article" asp-action="Index">Preverjanje zalog</a></li>
                    <li><a href="#">-Statistika</a></li>
                </ul>
            </li>
            @if (User.IsInRole(Roles.Administrator))
            {
                <li>
                    <a href="#otherSubmenu" data-toggle="collapse" aria-expanded="false">Ostalo</a>
                    <ul class="collapse list-unstyled" id="otherSubmenu">
                        <li><a asp-controller="Analyser" asp-action="Index">Analizatorji</a></li>
                        <li><a asp-controller="WorkLocation" asp-action="Index">Delovna mesta</a></li>
                        <li><a asp-controller="StorageType" asp-action="Index">Načini shranjevanja</a></li>
                        <li><a asp-controller="StorageLocation" asp-action="Index">Lokacije shranjevanja</a></li>

                    </ul>
                </li>
            }
       
            <li>&nbsp;</li>
            @if (User.IsInRole(Roles.Administrator))
    {
        <li><a asp-controller="Auth" asp-action="Logout">Users</a></li>}
            <li><a asp-controller="Auth" asp-action="Logout">Logout</a></li>
        </ul>
    </nav>

    <div id="content">
        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
            <i class="glyphicon glyphicon-align-left"></i>
            Toggle Sidebar
        </button>
        <div>
            @RenderBody()
        </div>
    </div>
</div>
