@model Infozdrav.Web.Models.Manage.PasswordChangeViewModel

<form method="post">
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" type="password" />
        <span class="form-text text-danger text-muted" asp-validation-for="Password"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" type="password" />
        <span class="form-text text-danger text-muted" asp-validation-for="RepeatPassword"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>