
@{
    ViewData["Title"] = "Labena";
}

<h2>Labena</h2>

<a href="@Url.Action("", "SprejemVzorcev")"
   class="btn btn-primary">Sprejem Vzorcev</a>
<a href="@Url.Action("", "ObdelavaVzorcev")"
   class="btn btn-primary">Obdelava Vzorcev</a>
<a href="@Url.Action("", "Projekt")"
   class="btn btn-primary">Projekt</a>
<a href="@Url.Action("", "Nalepke")"
   class="btn btn-primary">Nalepke</a>
