@{
    ViewData["Title"] = "Sprejem";
}

<h2>Sprejem vzorcev</h2>

<a href="@Url.Action("Sprejem")"
   class="btn btn-primary">Sprejem</a>
<br /><br />

<a href="@Url.Action("DodajanjeVzorca")"
   class="btn btn-primary">Dodajanje vzorca</a>
<a href="@Url.Action("DodajanjeAlikvotov")"
   class="btn btn-primary">Dodajanje alikvotov</a>
<a href="@Url.Action("Skatle")"
   class="btn btn-primary">Urejanje škatel</a>
