
@{
    ViewData["Title"] = "Škatle";
}

<h2>Škatle</h2>


<a href="@Url.Action("DodajanjeSkatel")"
   class="btn btn-primary">Dodajanje škatel</a>
<a href="@Url.Action("UrejanjeSkatel")"
   class="btn btn-primary">Urejanje škatel</a>