@model Infozdrav.Web.Models.Labena.SkatlaViewModel
@{
    ViewData["Title"] = "UrejanjeSkatel";
}

<h2>Urejanje Škatel</h2>

<form asp-action="Skatle" method="post">
    <div class="form-group">

        <br />
        <label asp-for="Skatla">Izbrana škatla</label>
        <input asp-for="Skatla" type="text"
               data-val-required="Škatlo je potrebno izbrati."
               class="form-control" id="Skatla" placeholder="Izberi škatlo">
        <span class="form-text text-danger text-muted" asp-validation-for="Skatla"></span>
        <br />
        <!-- TODO: Make a dropdown -->


        <br />

        <button type="submit" class="btn btn-primary">Shrani</button>
    </div>
</form>