@model Infozdrav.Web.Models.Labena.VnosHladilnikaViewModel
@{
    ViewData["Title"] = "Vnos hladilnika";
}

<h2>Vnos novega hladilnika</h2>

<form asp-action="VnosHladilnika" method="post">
    <div class="form-group">
        <label asp-for="Fridge">Ime hladilnika oz. skrinje</label>
        <input asp-for="Fridge" type="text"
               data-val-required="Vnos hladilnika ali skrinje je obvezno."
               class="form-control" id="Fridge" placeholder="Vnesi ime hladilnika oz. skrinje." required>
        <span class="form-text text-danger text-muted" asp-validation-for="Fridge"></span>
    </div>
    <!--
    <div class="form-group">

        <input asp-for="Room" type="text"
               data-val-required="Vnos prostora je obvezen."
               class="form-control" id="Place" placeholder="Vnesi ime prostora, v katerem se hladilnik nahaja.">
        <span class="form-text text-danger text-muted" asp-validation-for="Room"></span>
    </div> -->
    <label asp-for="Room">Ime prostora</label>
    @Html.DropDownList("Room",
        new SelectList(ViewBag.Rooms),
        "Izberi ime prostora, v katerem se hladilnik nahaja",
        new {@class = "form-control"})
    <br>

    <script>
        document.getElementByID("Fridge").required = true;
        document.getElementById("Room").required = true;
    </script>

    <button type="submit" class="btn btn-primary">Shrani</button>
    <a href=@Url.Action("DodajanjeVzorca") class="btn btn-primary">Prekliči</a>
</form>