
@{
    ViewData["Title"] = "Obdelava";
}

<h2>Obdelava vzorcev</h2>

<a href="@Url.Action("IzberiVzorec")"
   class="btn btn-primary">Izberi vzorec</a>
@*<a href="@Url.Action("Obdelava")"*@
@*   class="btn btn-primary">Vnesi obdelavo</a>*@
<a href="@Url.Action("VzorciVObdelavi")"
   class="btn btn-primary">Vzorci v obdelavi</a>
<a href="@Url.Action("Rezultati")"
   class="btn btn-primary">Vnos rezultatov</a>
