@model Infozdrav.Web.Models.Labena.ObdelavaVzorcevViewModel
@{
    ViewData["Title"] = "Obdelava";
}

<h2>Obdelava vzorcev</h2>


<form asp-action="Index" method="post">
    <div>
        <label asp-for="DatumObdelave">Datum obdelave</label>
        <input asp-for="DatumObdelave" type="date" data-val-required="Potreben je vnos datuma" min="@DateTime.Today.ToString("yyyy-MM-dd")"
               class="form-control" id="DatumObdelave">
        <span class="form-text text-danger text-muted" asp-validation-for="DatumObdelave"></span>

        <label asp-for="Oseba">Oseba</label>
        <input asp-for="Oseba" type="text" data-val-required="Potreben je vnos osebe" class="form-control" id="Oseba" placeholder="Vnesi osebo"/>
        <span class="form-text text-danger text-muted" asp-validation-for="Oseba"></span>

        <br/><br/>

        <label>Izolat</label>
        @Html.DropDownList("Izolat",
            new SelectList(ViewBag.Types),
            "Izberi tip izolata",
            new {@class = "form-control"})

    </div><br/>

    <label asp-for="Protokol">Protokol</label>
    <input asp-for="Protokol" type="text" data-val-required="Potreben je vnos protokola" class="form-control" id="Protokol" placeholder="Vnesi protokol"/>
    <span class="form-text text-danger text-muted" asp-validation-for="Protokol"></span>
    <button type="button" class="btn btn-primary">Pripni</button><br/><br/>

    <label asp-for="Aparatura">Aparatura</label>
    <input asp-for="Aparatura" type="text" class="form-control" id="Aparatura" placeholder="Vnesi aparaturo"/>

    <label asp-for="Kemikalije">Kemikalije</label>
    <input asp-for="Kemikalije" type="text" class="form-control" id="Kemikalije" placeholder="Vnesi kemikalije"/>
    <br/>
    <div>
        <div style="float: left; width: 50%; height: 200px">

            <label>Seznam izbranih vzorcev</label><br/>
            <ejs-grid id="grid" dataSource=@ViewBag.DataSource allowPaging="true">
                <e-grid-columns>
                    <e-grid-column field="IdVzorca" textAlign="Center" headerText="Id vzorca" template="#actions" width="120"></e-grid-column>
                    <e-grid-column field="DatumSprejema" textAlign="Center" headerText="Datum sprejema" template="#actions" width="150"></e-grid-column>
                    <e-grid-column field="DatumIzdelave" textAlign="Center" headerText="Datum izdelave" template="#actions" width="150"></e-grid-column>
                </e-grid-columns>
            </ejs-grid>
        </div>
        <div style="float: right; width: 50%; height: 200px">
            <button type="button" class="btn btn-primary">Natisni list</button><br/>
            <a href="@Url.Action("Rezultati")" class="btn btn-primary">Rezultati</a><br/>
            <button type="button" class="btn btn-primary">QR kode</button><br/><br/>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Shrani</button>

</form>