
@{
    ViewData["Title"] = "VzorciVObdelavi";
}

<h2>Vzorci v obdelavi</h2>
<br />

<div class="form-group">

    <h4>Obdelave v teku</h4>
    <br />

    <ejs-grid id="grid" dataSource=@ViewBag.DataSource allowPaging="true">
        <e-grid-columns>
            <e-grid-column field="ŠifraObdelave" textAlign="Center" headerText="Šifra obdelave" width="150"></e-grid-column>
            <e-grid-column field="DatumObdelave" textAlign="Center" headerText="Datum obdelave" width="150"></e-grid-column>
        </e-grid-columns>
    </ejs-grid>
    <br />

    <button type="button" class="btn btn-primary">Pregled podatkov</button>
    <button type="button" class="btn btn-primary">Dodaj vzorec</button>
    <button type="button" class="btn btn-primary">Vnesi rezultate</button>
</div>