@model Infozdrav.Web.Models.Trbovlje.StorageLocationViewModel

@{
    ViewBag.Title = "Remove storage location";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<h3>Are you sure you want to delete: </h3>

<form asp-action="Remove" method="post">
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
        <label asp-for="Name">Storage location</label>
        <input asp-for="Name" type="text" class="form-control" id="name" disabled>
    </div>
    <button type="submit" class="btn btn-primary">Delete</button>
    <a href="@Url.Action("StorageLocation")"
       class="btn btn-primary">Prekliči</a>
</form>
