@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<filelink file-name="@Model">Buhu!</filelink>
<form method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <input type="submit" value="Submit" />
</form>