@model Infozdrav.Web.Models.Trbovlje.ArticleUseViewModel

@{
    ViewBag.Title = "Uporabi artikel";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<form asp-action="UseArticle" method="post">
    <div class="form-group">
        <input type="hidden" asp-for="ArticleId" />

        <label asp-for="Article.CatalogArticle.Name">Kataloško ime artikla</label>
        <input asp-for="Article.CatalogArticle.Name" class="form-control" type="text" disabled />

        <label asp-for="UnitNumber">Številka alikvota</label>
        <input asp-for="UnitNumber" type="number"
               min="0"
               data-val-required="Potrebno je vnesti število uporabljenih enot"
               class="form-control" id="name" placeholder="Vnesi štvilo uporabljenih enot">
        <span class="form-text text-danger text-muted" asp-validation-for="UnitNumber"></span>
    </div>
    <button type="submit" class="btn btn-primary">Shrani</button>
    <a href="@Url.Action("UseArticle")"
       class="btn btn-primary">Prekliči</a>
</form>
