@model Infozdrav.Web.Models.Trbovlje.AnalyserViewModel

@{
    ViewBag.Title = "Dodaj analizator";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>
s
<form asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="Name">Ime analizatorja</label>
        <input asp-for="Name" type="text"
               data-val-required=""Analyser name" je obvezno."
               class="form-control" id="name" placeholder="Vnesi ime analizatorja">
        <span class="form-text text-danger text-muted" asp-validation-for="Name"></span>
    </div>
    <button type="submit" class="btn btn-primary">Shrani</button>
    <a href="@Url.Action("Analyser")"
       class="btn btn-primary">Prekliči</a>
</form>
