@model Infozdrav.Web.Models.Trbovlje.AnalyserViewModel

@{
    ViewBag.Title = "Analysers";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<form asp-action="Analyser" method="post">
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
        <label asp-for="Name">Analyser name</label>
        <input asp-for="Name" type="text"
               data-val-required="The analyser name field is required."
               class="form-control" id="name" placeholder="Enter Analyser name">
        <span class="form-text text-danger text-muted" asp-validation-for="Name"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a href="@Url.Action("Index")"
       class="btn btn-primary">Cancel</a>
</form>
