@model List<Infozdrav.Web.Models.Trbovlje.AnalyserViewModel>

@{
    ViewBag.Title = "Analizatorji";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<a href="@Url.Action("Add")"
   class="btn btn-primary">Dodaj analizator</a>
<br/>

<script id="actions" type="text/x-template">
    <a href="@Url.Action("Analyser")/${Id}"
       class="btn btn-primary">Uredi</a>
    <a href="@Url.Action("Remove")/${Id}"
       class="btn btn-primary">Izbriši</a>
</script>

<ejs-grid id="grid" dataSource=@ViewBag.DataSource allowPaging="true">
    <e-grid-columns>
        <e-grid-column field="Name" headerText="Ime" textAlign="Right" width="120"></e-grid-column>
        <e-grid-column field="Id" textAlign="Right" headerText="Actions" template="#actions" width="150"></e-grid-column>
    </e-grid-columns>
</ejs-grid>